body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background-color: #2F2827;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn-color {
    background-color: #F5AE3C;
    font-size: 18px;
    height: 35px;
    width: 300px;
    align-items: center;
    margin: 20px;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #F5AE3C;
    
}

.ekko-color {
    background-color: #F5AE3C;
    margin-top: 100px;
    margin-bottom: 175px;
    padding-left: 25px;
    padding-right: 25px;
}

.tweet-grid {
    display: grid;
    grid-template-columns: 4% 17.6% 4% 17.6% 17.6% 17.6% 17.6% 2%;
    grid-template-rows: 4% 22% 22% 22% 4% 22% 4%;
    height: 210px;
    background-color: #2F2827;
}

.yellowbox {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #F5AE3C;
}

.ekkobtn {
    background-color: #F5AE3C;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
}

.profpic {
    background-color: #D9594C;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.header-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.newekko {
    grid-column-start: 2;
    grid-column-end: 3;
}

.symbol {
    grid-column-start: 3;
    grid-column-end: 4;
    height: 20px;
    width: 20px;
}